---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

//$paragraph-indent: true;

//$text-color: green;
//$muted-text-color: green;
$primary-color: green;
//$border-color: green;
//$footer-background-color: green;
$link-color: green;
//$masthead-link-color: green;
//$masthead-link-color-hover: green;
//$navicon-link-color-hover: green;
$global-font-family: Arial, Helvetica, sans-serif;

//$right-sidebar-width-narrow: 100px;
//$right-sidebar-width: 250px;
//$right-sidebar-width-wide: 300px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// HEAD
.site-title {
  font-size: $type-size-2;
}

// Overlay
.page__hero--overlay {
  height: 350px;
}
@media (max-width: $small) {
  .page__hero--overlay {
    height: 250px;
  }
}
.our-highlights {
  a {
    font-size: $type-size-6;
    margin-top: 10px;
  }
}

/*
.page__lead a {
  text-decoration: none ;
}*/

// Page text content
.page__content {
  p,
  li,
  dl {
    font-size: $type-size-6;
  }
}

// Pagination
.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.pagination--pager {
  position: center;
  font-size: 0.8rem;
  padding: 6px 12px;
  height: auto;
  min-width: 150px;
  max-width: 200px;
}
.pagination--title {
  font-size: 0.6rem;
  margin: 0px 0px 0px 0px
}

// Contacts
.contact-container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap; /* Ensures responsiveness */
}

.contact-details {
  flex: 1;
  min-width: 250px; /* Prevents it from shrinking too much */
}

.contact-map {
  flex: 1;
  min-width: 250px;
}

.contact-map iframe{
    width: 100%;
    height: 300px;
    border: 0;
}

.contact-representatives-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-representative {
  flex: 1;
  min-width: 250px;
  max-width: 400px;
  text-align: center;
  //background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  //box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-representative img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  max-width: 120px;
  margin-bottom: 10px;
}

// Products

// remove a underline from links in main products page
.archive__item a {
  text-decoration: none ;
}
.archive__item-excerpt p {
  font-size: $type-size-5;
}

.product-img-left {
  margin-bottom: 0.5em;
  float: left;
  @include breakpoint($small) {
    margin-right: 1em;
    max-width: auto;
  }
  @include breakpoint($medium) {
    margin-right: 2em;
    max-width: 300px;
  }
}
.product-fig-left {
  margin: 0 0.5em;
  padding-right: 1em;
  float: left;
  @include breakpoint($small) {
    max-width: auto;
  }
  @include breakpoint($medium) {
    max-width: 350px;
  }
}
.product-img-right {
  margin-bottom: 0.5em;
  float: right;
  @include breakpoint($small) {
    margin-left: 1em;
    max-width: auto;
  }
  @include breakpoint($medium) {
    margin-left: 2em;
    max-width: 300px;
  }
}
.about-img-right {
  margin-bottom: 0.5em;
  float: right;
  margin-left: 2em;
  max-width: 400px;
}
@media (max-width: $small) {
  .about-img-right {
    display: none;
  }
}
