---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

//$paragraph-indent: true;

//$text-color: green;
//$muted-text-color: green;
$primary-color: green;
//$border-color: green;
//$footer-background-color: green;
$link-color: green;
//$masthead-link-color: green;
//$masthead-link-color-hover: green;
//$navicon-link-color-hover: green;

//$right-sidebar-width-narrow: 100px;
$right-sidebar-width: 150px;
//$right-sidebar-width-wide: 300px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Remove a underline from links in products
.archive__item a {
  text-decoration: none ;
}

// FIXME: We might remove it
.product__image {
  max-width: 60%; /* Adjust width as needed */
  height: auto; /* Maintains aspect ratio */
  display: block; /* Prevents extra spacing */
  margin: 20px auto; /* Centers the image */
  border-radius: 10px; /* Optional: Rounded corners */
}

// Pagination
.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.pagination--pager {
  position: center;
  font-size: 0.8rem;
  padding: 6px 12px;
  height: auto;
  min-width: 150px;
  max-width: 200px;
}
.pagination--title {
  font-size: 0.6rem;
  margin: 0px 0px 0px 0px
}

// Grid view
.entries-grid {
//  display: grid;
//  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
//  gap: 10px;
}

// Contacts
.contact-container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap; /* Ensures responsiveness */
}

.contact-details {
  flex: 1;
  min-width: 250px; /* Prevents it from shrinking too much */
}

.contact-map {
  flex: 1;
  min-width: 250px;
}

.contact-map iframe{
    width: 100%;
    height: 300px;
    border: 0;
}

.contact-representatives-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-representative {
  flex: 1;
  min-width: 250px;
  max-width: 400px;
  text-align: center;
  //background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  //box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-representative img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  max-width: 120px;
  margin-bottom: 10px;
}

// Products
.product-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.product-image img {
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-details {
  font-size: 18px;
}

.purchase-links {
  text-align: center;
  margin-top: 20px;
}

.buy-button, .visit-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.buy-button {
  background: #ff6600;
  color: white;
}

.visit-button {
  background: #555;
  color: white;
}
