---
layout: single
---

<div class="contact-container">

    <div class="location-row">
        <div class="location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2479.4423843679333!2d16.46502937626352!3d50.16134370813841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470de27b50f44969%3A0x8c8b48bfd94b0463!2zU3TFmcOtYnJuw70gdnJjaCAxODgsIDUxNyA2MSBSb2t5dG5pY2UgdiBPcmxpY2vDvWNoIGhvcsOhY2g!5e1!3m2!1sen!2scz!4v1739778159411!5m2!1sen!2scz" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="location-info">
                <h2>Provozovna</h2>
                <p><strong>Adresa:</strong> Stříbrný vrch 188, 517 61 Rokytnice v Orlických horách</p>
                <p><strong>Telefon:</strong> {{ site.data.contact.phone.martina }}</p>
                <p><strong>Email:</strong> <a href="mailto:{{ site.data.contact.email.martina }}">{{ site.data.contact.email.martina }}</a></p>
            </div>
        </div>

        <div class="location">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.3959498998424!2d16.46265467625914!3d50.08507831360442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470de4a0face59d5%3A0x68872165f25c6a1f!2zTsOhZHJhxb5uw60gMTM4OSwgNTY0IDAxIMW9YW1iZXJr!5e1!3m2!1sen!2scz!4v1739778209456!5m2!1sen!2scz" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="location-info">
                <h2>Prodejna</h2>
                <p><strong>Adresa:</strong> Nádražní 1389, 564 01 Žamberk</p>
                <p><strong>Telefon:</strong> {{ site.data.contact.phone.martina }}</p>
                <p><strong>Email:</strong> <a href="mailto:{{ site.data.contact.email.martina }}">{{ site.data.contact.email.martina }}</a></p>
                <p><strong>Socialni media:</strong> <a href="{{ site.data.contact.facebook.store }}">Facebook</a></p>
            </div>
        </div>
    </div>
</div>

